.li-btn {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 15px;
  border-radius: 50%;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  background-color: #444;
}

.list-group-item:hover {
  cursor: pointer;
}

.correct {
  background-color: #00bc8c;
}

.wrong {
  background-color: rgb(112, 0, 0);
}
