.audio-player {
  width: 100%;
}

.controls,
.audio-player {
  display: flex;
  justify-content: space-between;
}

.audio-progress {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.play-btn {
  width: 50px;
  height: 50px;
  border: 3px solid #008966;
  border-radius: 50%;
  position: relative;
  margin: 0 10px 0 0;
}

.play-ico {
  width: 60%;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 59%;
  top: 50%;
}

.pause-ico {
  width: 60%;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 52%;
  top: 50%;
}

.player-controls {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.seekObj {
  width: 100%;
}

progress {
  vertical-align: bottom;
  vertical-align: -webkit-baseline-middle;
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  color: #008966;
  height: 5px;
}
progress[value]::-webkit-progress-bar {
  background-color: white;
  border-radius: 2px;
  border: 1px solid lighten(#acacac, 20%);
  color: #008966;
}
progress::-webkit-progress-value {
  background-color: #008966;
}

.audio-time {
  display: flex;
  justify-content: space-between;
}
