.song-image {
  max-height: 200px;
}

.image-wrapper {
  width: 200px;
  height: 200px;
  background-color: #32383e;
  display: flex;
  justify-content: center;
}

.list-hover:hover {
  background-color: #32383e;
}
